{{ partial "default_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <ul class="tag-box inline">
    {{ range $key,$value := .Site.Taxonomies.tags.ByCount }}
      <li><a href="#{{ $value.Name }}">{{ $value.Name }} <span>{{ $value.Count }}</span></a></li>
    {{ end }}
  </ul>

  {{ range .Site.Taxonomies.tags.ByCount }}
    <h2 class="post-title" id="{{ .Name }}">{{ .Name }}</h1>
    <ul id="list">
      {{ range .Pages }}
        {{ .Render "li"}}
      {{ end }}
    </ul>
  {{ end }}
</div>

{{ partial "default_foot.html" . }}
